* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.intro {
  font-weight: bold;
  width: 327px;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 12px;
  height: 150px;
  color: #172b4d;
}

.head-section {
  width: 360px;
  height: 720px;
}

.top h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  height: 8px;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  color: #6070ff;
  margin: 32px 26px;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top i {
  margin: 36px 32px;
  color: #6070ff;
}

h6 {
  color: black;
  font-size: 20px;
  padding-top: 6px;
}

.signal_icon {
  display: flex;
  justify-content: space-between;
}

.main-section {
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.description p {
  font-family: 'Poppins', sans-serif;
  height: 146px;
  width: 294px;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.fas {
  margin: 10px;
}

span {
  display: block;
  text-align: left;
}

.main_header {
  display: flex;
  justify-content: space-between;
}

.main_logo {
  color: black;
  font-size: 20px;
  padding-top: 6px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  justify-content: flex-end;
}

a {
  color: gray;
}

.icons {
  display: flex;
  margin: -10px;
}

.icons i {
  color: #505f79;
  font-size: 20px;
}

ul li {
  list-style: none;
  text-decoration: none;
  padding: 12px;
}

.footer-section h5 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}

li img {
  color: gray;
  width: 15px;
  height: 20px;
}
