/* stylelint-disable no-missing-end-of-source-newline */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
}

ul li {
  list-style: none;
}

.nav-bar {
  display: none;
}

header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}

header a {
  text-decoration: none;
  color: #6070ff;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.top i {
  color: #6070ff;
  padding: 0;
  margin: 0;
}

.intro {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  align-items: center;
  font-size: 40px;
  line-height: 52px;
  margin-top: 100px;
  margin-bottom: 12px;
  color: #172b4d;
}

.head-section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  border-radius: 0 0 0 60px;
  width: 100%;
}

h6 {
  color: black;
  font-size: 20px;
  padding-top: 6px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 24px 100px 24px;
}

.description p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #344563;
}

.fas {
  margin: 10px;
}

span {
  display: block;
  text-align: left;
}

.main_header {
  display: flex;
  justify-content: space-between;
}

.main_logo {
  color: black;
  font-size: 20px;
  padding-top: 6px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  justify-content: flex-end;
}

.icons a {
  color: gray;
}

.icons {
  margin: 10px;
}

.icons i {
  color: #505f79;
  font-size: 20px;
}

.icons li {
  text-decoration: none;
  display: inline;
}

.footer-section h5 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  margin-bottom: 10px;
}

li img {
  color: gray;
  height: 20px;
}

/* portfolio work section */
.work-section {
  display: grid;
  grid-template-columns: 1fr;
}

.work-container {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.img {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 15px;
  margin: 10px;
  overflow-inline: initial;
}

.img-1 { grid-area: img-1; }
.img-2 { grid-area: img-2; }
.img-3 { grid-area: img-3; }
.img-4 { grid-area: img-4; }

.img image {
  height: 220px;
}

.img h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 12px;
}

.canopy {
  display: flex;
  width: 100%;
  color: #172b4d;
  align-items: center;
}

.canopy h4 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

.canopy ul {
  display: flex;
  align-items: center;
}

.canopy ul li {
  display: flex;
  align-items: center;
}

.canopy ul .sub-lang {
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 8px;
}

.sub-skills img {
  margin: 9px 12px 9px 16px;
}

.canopy ul img {
  margin: 0 12px;
}

.img li img {
  color: gray;
  width: 10px;
  height: 10px;
}

.img-description {
  text-align: left;
  color: #323c4e;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 0  12px;
}

.lang {
  display: flex;
  align-items: center;
}

.lang .prog-lang {
  color: #6070ff;
  padding: 4px 12px;
  margin-right: 8px;
  background-color: #ebebff;
  border-radius: 8px;
  font-size: 12px;
}

.content button {
  color: #6070ff;
  border: 1px solid #6070ff;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 25px;
  padding: 12px;
}

.skill-section {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.skill-section li h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 40px 0 24px;
}

.core-skills .sub-skills {
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0;
}

.sub-skills p {
  font-weight: 500;
  font-size: 15px;
  color: #253858;
}

.resume-button {
  margin-top: 14px;
  color: #396df2;
  padding: 12px;
  border: 1px solid  #396df2;
  border-radius: 5px;
  background-color: #fff;
}

.about-section {
  background-color: #fff;
  border-radius: 0 60px 0 0;
  padding: 24px;
  min-height: 700px;
}

.about-container h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Footer Section */

.contact-desk {
  background-color: #fff;
}

.contact-section {
  background-image: url(images/footer_images/contact\ form\ shapes-mobile.svg);
  background-repeat: no-repeat;
  background-color: #6070ff;
  background-position: 100% 21px;
  border-radius: 60px 0 0 0;
  padding: 20px 24px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 104px;
  margin-bottom: 12px;
}

.contact-container p {
  font-weight: normal;
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  margin: 12px 24px 50px 24px;
  text-align: center;
}

.input-section {
  display: flex;
  flex-direction: column;
}

.input-section input {
  margin-bottom: 18px;
  width: 100%;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 16px;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.input-section textarea {
  margin-bottom: 4px;
  width: 100%;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 16px;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

input::placeholder,
textarea::placeholder {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.input-section .btn {
  padding: 12px 16px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #fff;
  border-radius: 4px;
  width: fit-content;
  margin-top: 12px;
  border: 1px solid  #396df2;
}

/* Desktop Version */

@media screen and (min-width: 992px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  header a {
    text-decoration: none;
    color: #6070ff;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-left: 30px;
  }

  .top i {
    display: none;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .nav-bar ul {
    margin-right: 30px;
  }

  .nav-bar li {
    margin: 0 10px;
  }

  .head-section {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("images/Desktop/Header\ bg@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .main-section {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 100px 0;
  }

  .intro {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    align-items: center;
    font-size: 48px;
    line-height: 60px;
    margin-top: 100px;
    margin-bottom: 12px;
    color: #091e42;
  }

  .intro span {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .description p {
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    margin: 12px 0;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .icons a {
    color: gray;
  }

  .icons {
    display: flex;
    margin: -10px;
  }

  .icons i {
    color: #505f79;
    font-size: 20px;
  }

  .icons li {
    text-decoration: none;
    padding: 12px;
  }

  .footer-section h5 {
    color: #7f8cff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .work-container {
    padding: 0 100px;
  }

  .img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px;
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 24px;
    gap: 30px;
  }

  img .img-2,
  img .img-4 {
    order: 2;
  }

  .content-1 button {
    color: #6070ff;
    border: 1px solid #6070ff;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 25px;
  }

  .about-desk {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .core-skills {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .core-skills .sub-skills img {
    width: 48px;
    height: 48px;
    margin: 0;
  }

  .core-skills .sub-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-container {
    width: 600px;
  }

  form {
    width: 600px;
    align-items: center;
  }
}
